{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" href="{% static 'footer.css' %}">
    {% block links %}{% endblock %}
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body class="dark_theme">
    <header>
        {% include 'includes/navbar.html' %}
    </header>
    <main>
        {% block content %}
            <p>Some content</p>
        {% endblock %}
    </main>
    {% include 'includes/footer.html' %}

</body>
</html>