{% extends 'base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'rooms/base.css' %}">
{% endblock %}
{% block content %}
    <div id="id_room_list">
        <div class="card">
            <div>
                <img src="{% static 'rooms/images/economy.jpg' %}">
            </div>
            <div>
                <h4>Економ</h4>
                <p>
                    «Економ» - це прекрасний вибір для тих, хто шукає комфортне і доступне проживання. Номери цієї
                    категорії можуть бути зручними та функціональними, з усіма основними зручностями для приємного
                    відпочинку.
                </p>
            </div>
        </div>
        <div class="card">
            <div>
                <img src="{% static 'rooms/images/standard.jpg' %}">
            </div>
            <div>
                <h4>Стандарт</h4>
                <p>
                    «Стандарт» - це вдале поєднання комфорту та стилю. Тут вас чекає зручне розташування меблів, сучасні
                    технічні рішення та затишна атмосфера. Ваш відпочинок буде невимушеним та приємним.
                </p>
            </div>
        </div>
        <div class="card">
            <div>
                <img src="{% static 'rooms/images/luxe.jpg' %}">
            </div>
            <div>
                <h4>Люкс</h4>
                <p>
                    «Люкс» – це вищий стандарт проживання, де ви зможете насолодитися розкішшю та вишуканістю.
                    У номерах категорії "Люкс" зазвичай присутні просторі кімнати, ексклюзивний дизайн і додаткові
                    послуги, щоб ваш відпочинок став максимально комфортним та незабутнім.
                </p>
            </div>
        </div>
        <div class="card">
            <div>
                <img src="{% static 'rooms/images/deluxe.jpg' %}">
            </div>
            <div>
                <h4>Делюкс</h4>
                <p>
                    «Делюкс» - це вищий рівень розкіші та відмінності. Тут вас чекає велика площа номеру, елітний дизайн,
                    ексклюзивне обслуговування та додаткові зручності. Проживання в номерах категорії "Делюкс"
                    призначено для тих, хто шукає найвищий ступінь задоволення від відпочинку.
                </p>
            </div>
        </div>
    </div>
{% endblock %}