<p>Вітаю!</p>
<p>Дякую що зареєструвалися на нашому сайті <a href="{% url 'home' %}">{{ site_name }}</a>.</p>
<p>Для активації вашого аккаунту вам потрібно перейти по цьому посиланню:</p>
<p></p>
<p>{{ protocol }}://{{ domain }}{% url 'accounts:user-confirm-email' uidb64=uid token=token %}</p>
<p></p>
<p>Якщо ви не можете перейти по цьому посиланню, спробуйте скопіювати це посилання та вставити в пошук браузера .</p>
<p>Це посилання формується автоматично. Будь ласка, не відповідайте на нього.</p>
<p>Із повагою,</p>
<p>Служба підтримки {{ site_name }}</p>